/*
* Style tweaks
* --------------------------------------------------
*/
html,body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  height: 100%;
}

body {
  padding-top: 70px;
}

footer {
  padding: 10px 0;
}

/*
* Off Canvas
* --------------------------------------------------
*/
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }
  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
/* seichi setting */
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 14px;
}

.page-header{
  margin-top:10px;
}

#placedesc {
  font-size: 12px;
}
#placedesc h1 {
  font-size: 30px;
}
#placedesc h2 {
  font-size: 24px;
}
#placedesc h3 {
  font-size: 18px;
}
#placedesc h4 {
  font-size: 12px;
}
#placedesc h5 {
  font-size: 12px;
}
#placedesc h6 {
  font-size: 12px;
}

.jumbotron{
  font-size: 18px;
}

.jumbotron h1{
  font-size: 50px;
}

address{
  display:inline;
}

.instagram-thumb{
  width:170px;
  margin:10px;
}
.foursquare-img{
  width:100px;
  height:100px;
}
blockquote footer, blockquote small, blockquote .small {
  display: block;
  font-size: 100%;
  line-height: 1.428571429;
  padding:10px 0px 0px 0px;
  color: #999;
}
blockquote footer a{
  color: #999;
}
.tweet-header{
  display:block;
  font: normal normal normal 14px "Helvetica Neue",Arial,sans-serif;
  font-weight:bold;
  color: #292f33;
}
.tweet-body{
  display:block;
}
.tweet-screen-name{
  font-weight:normal;
  color: #66757f;
}

span{
  margin:0;
}
/* workdesc setting */
#workdesc-img {
  padding: 0px 20px;
  float: right;
  width: 150px;
  height: auto;
}

#placedesc-img {
  padding: 0px 20px;
  float: right;
  width: 150px;
  height: auto;
}
/* map setting*/
#map-container {
  display: none;
  margin:10px;
  padding: 0;
  position: relative;
  width: 100%;
  min-width: 320px;
}

#map-container:before {
  content: "";
  display: block;
  padding-top: 50%; /* initial ratio of 2:1*/
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

#map-info {
  width: 300px;
  z-index: 2;
}

#map-info-img {
  float: left;
  width: 100px;
  height: 100px;
}

#mapdesc {
  position: absolute;
  top: 0;
  left: 0;
}

label,fieldset {
  display: block;
}
/* placeadd setting*/
.search-result-item {
  width: 100%;
}