URL_ROOT= 
INSTAGRAM_CLIENT_ID= 
FACEBOOK_TOKEN= 
FOURSQUARE_CLIENT_ID= 
FOURSQUARE_CLIENT_SECRET_ID= 
TWITTER_CONSUMER_KEY= 
TWITTER_CONSUMER_SECRET_KEY= 
TWITTER_TOKEN= 
AMAZON_API_ACCESS_KEY= 
AMAZON_API_SECRET_KEY=
VERSION_DATE=20140214
LATLNG_SCALE=6
ASIN_LENGTH=10
API_LIMIT=false
API_INTERVAL=3600